extends layout

block content
    h1= title
    - var results = results
    div.container-fluid
        div.row
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) Oil Name: #{item["Oil_Name"]} <br> Oil Company: #{item["Oil_Company"]} <br> Oil cost: #{item["Oil_cost"]} <br> Oil Rating: #{item["Oil_Rating"]}
        script.
            function buy(index) {
             alert("You purchased item " + index)
                }